<ion-header [translucent]="true">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Ultra&display=swap" rel="stylesheet">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title> <img src="../../assets/imgs/nike.jpg" alt=""></ion-title>
    <ion-icon name="person-circle-sharp" slot="end"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="cards">
    <ion-card class="imagem3">
    <img alt="Silhouette of mountains" src="../../assets/imgs/image3.png">
  </ion-card>
  <ion-card class="imagem5">
    <img alt="Silhouette of mountains" src="../../assets/imgs/image5.png" />
  </ion-card>
  <ion-card class="imagem1">
    <img alt="Silhouette of mountains" src="../../assets/imgs/image1.png" />
  </ion-card>
  </div>
  <div class="Teniscentro">
    <img src="../../assets/imgs/image4.png" alt="Tênis Verde da Nike">
  </div>
  <div class="descricao">
    <h1>KYRIE INFINITY</h1>
    <h2>Calçados para Basquete</h2>
    <p class="textoDescritivo">Oferece um caimento justo personalizado, agilidade aprimorada no antepé e tração nas laterais.</p>
  </div>
  <div class="preco">
    <h2 id="preco">Preço</h2>
    <p class="valor">$799 <img src="../../assets/imgs/share.png" alt="Ícone de conpartilhamento" class="share"> 
      <img src="../../assets/imgs/shopping-bag.png" alt="Ícone de Mala de compra" class="bag"></p>
  </div>
</ion-content>
