<ion-content [fullscreen]="true">
<ion-header [translucent]="true">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Ultra&display=swap" rel="stylesheet">
  <ion-toolbar>
    <ion-title></ion-title>
    <img src="../../assets/imgs/nike_fundo.png" alt="logoNike" class="logo">
  </ion-toolbar> 
</ion-header>
  <img src="../../assets/imgs/image2.png" alt="Tênis verde da Nike">
  <div class="TextoTelaInicial">
    <h1 class="titulo">SUMMER COLLECTIONS</h1><h1 class="ano">2022</h1>
    <p>Modelo casual, numa pegada retrô com muito conforto. 
      Solado em borracha oferece maior tração e durabilidade para o modelo.</p>
  </div>
  <div class="BotaoTelaInicial">
    <ion-button shape="round"><a href="../folder/folder.page.html">GET STARTED <ion-icon name="arrow-forward-outline"></ion-icon></a></ion-button>
  </div>
</ion-content>
